#top_banner {
  background-color: whitesmoke;
  height: 100px;
  display:flex;
  position: sticky;
  top: 0px;
  margin: 0 auto;
  width: 98%;
  border: 1px solid;
}

#logoempresa {
  margin: 0 1% 0 1%;
  border: 1px solid black;
  width: 30%;
  height: 80px;
}

#institucional_contacto {
  margin: 0 10% 0 1%;
  border: 1px solid black;

  width: 20%;
  height: 50px;
}

#carrito {
  margin: 0 5% 0 5%;
  width: 10%;
  height: 75px;
  border: 1px solid black;
}

#boton_usuario {
  margin: 0 1% 0 5%;
  width: 10%;
  height: 75px;
  border: 1px solid black;
}
