#top_banner {
  background-color: rgb(255, 255, 255);
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0px;
  margin: 0 auto;
  width: 98%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(55, 55, 55);
}

#top_banner div {

  display: flex;
}

#logoempresa {
  width: 600px;
  height: 100px;
  margin-right: 10%;
  align-items: center;
}

#institucional_contacto {
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  align-self: end;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

#datos_institucional{
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  align-content: center;
  margin: 0 30px;
  align-items: flex-end;
}

#datos_contacto{
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  padding: 0 30px;
  row-gap: 5px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid;  
}

#datos_contacto img{
  height: 15px;
}

#carrito,
#usuario {
  margin-left: 50px;
  align-items: center;
}

#usuario {
  width: 75px;
  height: 75px;
}

#carrito span {
  display: flex;
  justify-content: center;
  border: 1px dashed;
  font-weight: bold;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(55, 55, 55);
  text-transform: uppercase;
}

#carrito img {
  margin: auto;
  width: 35px;
  height: 35px;
}

#carrito a {
  background-color: transparent;
  cursor: pointer;
}

#usuario img {
  margin: auto;
  width: 35px;
  height: 35px;
}

#usuario button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
}

#logoempresa #logo_rueda {
  width: 100px;
  height: 100px;
  padding: 10px;
  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#logoempresa #logo_texto {
  width: 400px;
  height: 60px;
  padding-bottom: 2px;
  border-bottom: 4px double;
}

a {
  text-decoration: none;
  color: rgb(55, 55, 55);
}
